.r_depth_4 {
	box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,.132),0 .3px .9px 0 rgba(0,0,0,.108);
}

.r_depth_8 {
	box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132),0 .6px 1.8px 0 rgba(0,0,0,.108);
}

.r_depth_16 {
	box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
}

.r_depth_32 {
	box-shadow: 0 12.8px 28.8px 0 rgba(0,0,0,.22),0 2.4px 7.2px 0 rgba(0,0,0,.18);
}

.r_depth_64 {
	box-shadow: 0 25.6px 57.6px 0 rgba(0,0,0,.22),0 4.8px 14.4px 0 rgba(0,0,0,.18);
}