.heading {
	font-weight: 300;
	font-size: 2.875em;
	/* line-height: 3.5em; */
	text-shadow: 0 -0.75px rgba(0, 0, 0, 0.9), 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.subheading {
	font-weight: 300;
	font-size: 2.125em;
	/* line-height: 2.5em; */
	text-shadow: 0 -0.75px rgba(0, 0, 0, 0.9), 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.title {
	font-weight: 300;
	font-size: 1.5em;
	/* line-height: 1.75em; */
	text-shadow: 0 -0.75px rgba(0, 0, 0, 0.9), 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.subtitle {
	font-weight: 300;
	font-size: 1.25em;
	/* line-height: 1.5em; */
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	text-shadow: 0 -0.75px rgba(0, 0, 0, 0.9), 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.subtitleAlt {
	font-weight: 300;
	font-size: 1.125em;
	/* line-height: 1.25em; */
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	text-shadow: 0 -0.75px rgba(0, 0, 0, 0.9), 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.base {
	font-weight: 300;
	font-size: 1em;
	/* line-height: 1.25em; */
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

.paragraph {
	font-weight: 300;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

.text {
	font-weight: 300;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

.text:after {
	content: " ";
}

.bold {
	font-weight: bold;
}

.bold:after {
	content: " ";
}

.italic {
	font-style: italic;
}

.italic:after {
	content: " ";
}

.shadow {
	text-shadow: 0 -0.75px rgba(0, 0, 0, 0.9), 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.caption_alt {
	font-weight: 300;
	font-size: 13px;
	line-height: 16px;
}

.caption {
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
}